html {
    -webkit-font-smoothing: antialiased;
        overflow: hidden;
}

body {
    background-image: url( 'https://i.imgur.com/g8TsG4C.jpg' );
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#procedure_bg{
    background-image: url( 'https://i.imgur.com/ZI5C6Zl.jpg' );
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-color: white;
}

#game_bg{
    background-image: url( 'https://i.imgur.com/mRWhhr8.png' );
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-color: white;
}

#cloud1{
    width : 16%;
    position: absolute;
    top: 10%;
    left: 25%;
}

#cloud2{
    width : 8%;
    position: absolute;
    top: 25%;
    left: 20%;

}

#cloud3{
    width : 14%;
    position: absolute;
    top: 8%;
    left: 60%;

}

#cloud4{
    width : 17%;
    position: absolute;
    top: 20%;
    left: 65%;
}

#sun1{
    width : 12%;
    position: absolute;
    top: 4%;
    left: 44%;
}
#sun2{
    width : 10%;
    position: absolute;
    top: 6%;
    left: 45%;
}
#sun3{
    width : 8%;
    position: absolute;
    top: 8%;
    left: 46%;
}
#sun4{
    width : 6%;
    position: absolute;
    top: 10%;
    left: 47%;
}

#railway{
    position: absolute;
    top: 70%;
    left: 0%;
    height: 6px;
    width: 100%;
}

#train1{
    position: absolute;
    bottom: 30%;
    height: 25%;
    left: 10.5%;
}

#train2{
    position: absolute;
    bottom: 30%;
    height: 25%;
    left: 26%;
}

#train3{
    position: absolute;
    bottom: 30%;
    height: 25%;
    left: 42.5%;
}

#train4{
    position: absolute;
    bottom: 30%;
    height: 25%;
    left: 59%;
}

#train5{
    position: absolute;
    bottom: 30%;
    height: 25%;
    left: 75.5%;
}

#connecter1{
    position: absolute;
    height: 12px;
    left: 27.5%;
    bottom: 36%;
}


#connecter2{
    position: absolute;
    height: 12px;    
    left: 43.5%; 
    bottom: 35.5%;
}


#connecter3{
    position: absolute;   
    height: 12px;
    left: 60%;   
    bottom: 35.5%;
}

#connecter4{
    position: absolute;   
    height: 12px;
    left: 76.5%;   
    bottom: 35.5%;
}

#text1{
    position: absolute;   
    color: ghostwhite;
    text-decoration:none;
    left: 33.6%;
    bottom: 36%;
    text-align: center;
    font-size: 17px;
    font-family: Microsoft JhengHei;
}

#text2{    
    position: absolute;   
    color: ghostwhite;
    text-decoration:none;
    left: 50.1%;
    bottom: 36%;
    text-align: center;    
    font-size: 17px;
    font-family: Microsoft JhengHei;
}

#text3{   
    position: absolute;   
    color: ghostwhite;
    text-decoration:none;
    left: 65.7%;
    bottom: 36%;
    text-align: center;
    font-size: 17px;
    font-family: Microsoft JhengHei;
}

#text4{    
    position: absolute;   
    color: ghostwhite;
    text-decoration:none;
    left:82.7%;
    bottom: 36%;
    text-align: center;    
    font-size: 17px;
    font-family: Microsoft JhengHei;
}

#button1{
    position: absolute;   
    height: 20%;
    left: 17%;   
    bottom: 5%;
}

#button2{
    position: absolute;   
    height: 20%;
    right: 17%;   
    bottom: 5%;
}

#plant1{
    position: absolute;   
    height: 35%;
    left: 0%;   
    bottom: 0%;
}

#plant2{
    position: absolute;   
    height: 40%;
    left: 6.5%;   
    bottom: 0%;
}

#plant3{
    position: absolute;   
    height: 32%;
    left: 10%;   
    bottom: 0%;
}

#plant4{
    position: absolute;   
    height: 36%;
    right: 6%;   
    bottom: 0%;
}

#plant5{
    position: absolute;   
    height: 25%;
    right: 7%;   
    bottom: 0%;
}

#plant6{
    position: absolute;   
    height: 40%;
    right: 3.5%;   
    bottom: 0%;
}

#plant7{
    position: absolute;   
    height: 35%;
    right: 0%;   
    bottom: 0%;
}


